@{
    ViewData["Title"] = "MVCStore Hakkında";
}
<h1>@ViewData["Title"]</h1>
<p> 2018 yılında deneyimli kadrosuyla hizmet vermeye başlayan MVCStore, uzman saha ekipleriyle teknolojinin gücünü bir araya getirir.  </p>
