@model ContactUsViewModel 
@{
}
@{
    ViewData["Title"] = "MVCStore İletişim";
}
<h1>@ViewData["Title"]</h1>
@if (TempData["messageSent"]!=null)
{
    <div class="alert alert-success">
        <h2>Teşekkürler</h2>
        <p>Mesajınız tarafımıza ulaşmıştır....</p>
    </div>    
}

<form method="post">
<div class="card mb-3">
       <div class="card-body">
       <div class="form-group">
           <label class="form-label" asp-for="Name"></label>    
           <input class="form-control" asp-for="Name"/>
           <span asp-validation-for="Name"></span>
       </div>
        <div class="form-group">
            <label class="form-label" asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
         <div class="form-group">
           <label class="form-label" asp-for="PhonoNumber"></label>
            <input class="form-control" asp-for="PhonoNumber" />
            <span asp-validation-for="PhonoNumber"></span>
       </div>
        <div class="form-group">
            <label class="form-label" asp-for="Message"></label>
            <textarea class="form-control" asp-for="Message"></textarea>
            <span asp-validation-for="Message"></span>
        </div>
        <hr/>
        <button type="submit" class="btn btn-primary">
            <i class=" fa fa-send"></i> GÖNDER
        </button>
        </div>
    </div>
</form>

<p>
    DSM Grup Danışmanlık İletişim ve Satış Ticaret A.Ş. Maslak Mahallesi Saat Sokak Spine Tower No:5 İç Kapı No:19 Sarıyer/İstanbul

    Tel: 0 212 331 0 200
    Maslak V.D.: 313 055 7669
    Ticaret Sicil No: 711896
    Kep Adresi: dsm@hs02.kep.tr
    Mersis Numarası: 0313055766900016
    Sorumlu Kişi: Yasin Canki
    Üyesi olduğumuz İstanbul Ticaret Odası’nın üyeleri için geçerli davranış kurallarına www.ito.org.tr adresinden ulaşılabilir.

    DSM Grup Danışmanlık İletişim ve Satış Tic. A.Ş.'ye yapılacak yasal bildirimler ve arabuluculuk başvuruları için Kayıtlı Elektronik Posta aracılığıyla dsm.hukuk@hs02.kep.tr adresine gönderimde bulunabilirsiniz.
</p>
@section scripts
{
    <partial name="_ValidationScriptsPartial"/>
}