@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="pb-2">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<div class="d-flex py-2">
    <button class="btn btn-primary">Button</button>
        <button class="btn btn-info">Button</button>
        <button class="btn btn-danger">Button</button>
        <button class="btn btn-warning">Button</button>
</div>

</div>
