@model IEnumerable<Rayon>
<div class="bg-light py-2">
    <nav class="container d-flex flex-nowrap align-items-center">
     @foreach (var rayon in Model)
        {
           
                <a href="#" class="btn btn-link text-decoration-none rayon-btn" data-category-id="@rayon.Id">
                    @rayon.Name
                </a>    
        }
    </nav>
</div>

<div class=" py-2 position-relative">    
@foreach (var rayon in Model)
{              
    <div class="container position-absolute "style="right:0; left:0; margin-top:-8px;">
            <div class="p-2 fade category-panel w-100 bg-white border shadow" id="categoryPanel_@rayon.Id">
               @foreach (var category in rayon.Categories.ToList())
                {
                    <div>
                        <a href="#"> @category.Name</a>
                    </div>
                }
            </div>
        </div>
    }   
</div>